@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Tenor+Sans&display=swap');

body {
	background: linear-gradient(50deg, rgb(164, 164, 235), rgb(157, 235, 157));
	display: flex;
}

* {
	margin: 0;
	box-sizing: border-box;
}

nav li {
	list-style: none;
}

.header_wrap {
	display: flex;
	flex-direction: column;
	z-index: 10;
}

header {
	width: 80%;
	margin-bottom: 4rem;
	background: repeating-conic-gradient(rgb(126, 111, 211) .002%, antiquewhite .045%);
	border-bottom: black 3px solid;
	border-top: black 3px solid;
	margin: 2rem auto;
	text-align: center;
	font-family: "Tenor Sans";
	color: rgb(3, 3, 66);
	text-transform: uppercase;
	position: sticky;
	top: 0;
}

.div_center {
	margin-left: 5rem;
	margin-bottom: 2rem;
}

img {
	box-shadow: 4px 4px 2px rgb(53, 51, 51);
}

.border {
	border: black 3px solid;
	padding-right: 5rem;
	width: fit-content;
	box-shadow: 4px 4px 2px #353333;
	background: rgba(255, 255, 255, 0.325);
	filter: blur(6px);
}

.circle {
	height: 60px;
	width: 60px;
	margin: auto;
	margin-left: 2rem;
	border-radius: 50%;
	background: conic-gradient(rgb(234, 125, 78) 90deg, green 90deg);
	border: black 1px solid;
	animation: rotate infinite 2s linear;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

.circle_jr {
	height: 10px;
	width: 10px;
	margin-left: 0rem;
	border-radius: 50%;
	background: burlywood;
	border: black 1px solid;
	animation: bubble infinite 1s linear;
	animation-delay: calc(0.1s * var(--i));

}

.jr {
display: flex;
transform: translateX(-110%);
/* height: 200px; */
	z-index: 0;
}

@keyframes bubble {

	from {
		opacity: 1;
		transform: translateY(100px);
	}

	to {
		opacity: 0;
		transform: translateY(-100px);
	}

}

.btn_style {
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: square;
	margin: 1rem;
}

nav {
	display: flex;
}

nav a {
	text-decoration: none;
	border: black 3px solid;
	width: 100px;
	padding: 5px 10px;
	border: 3px solid rgb(14, 4, 4);
	border-radius: 20px;
	text-align: center;
	background-color: cadetblue;
	font-weight: 800;
	transition: .3s all;
}

ul {
position: sticky;
}

a:hover {
	background: white;
}

.transition {
	transition: .3s all;
}

.rightFlex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
}

.bigFlex {
	display: flex;
	border: rgb(180, 13, 88) 10px solid;
	/* flex-direction: column; */
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex {
	display: flex;
	border: rgb(91, 89, 15) 10px solid;
	margin: 10px 5px;
	/* width: 30%; */
	/* width: 150px; */
	filter: drop-shadow(5px 5px 3px black);
}

.box {
	display: flex;
	position: relative;
	background-image: linear-gradient(rgb(213, 17, 17), orange);
	height: 150px;
	width: 150px;
	border: black 5px solid;
}

.shadow_wrap {
	filter: drop-shadow(-2px 6px 3px rgba(50, 50, 0, 0.77));
	margin: auto;
}

.star {
	display: flex;
	position: relative;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background: repeating-linear-gradient(rgb(96, 6, 87), rgb(234, 83, 136), rgb(96, 6, 87));
	height: 100px;
	width: 100px;
	margin: auto;
}

.song {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
	margin: auto;
}

img {
	width: 400px;
	border: black 2px solid;
	margin-bottom: 2rem;
	transition: .3s all;
}

img:hover {
	scale: .9;
}

.verse {
	line-height: 2;
	margin: auto;
	margin-bottom: 2rem;

}

footer {
	background-color: black;
	color: antiquewhite;
	font-family: "Iceland";
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}