@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Tenor+Sans&display=swap');

body {
	background: linear-gradient(rgb(105, 105, 242), rgb(114, 231, 114));
	height: 90vh;
}

* {
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 80%;
	background: repeating-conic-gradient(rgb(126, 111, 211) .002%, antiquewhite .045%);
	border-bottom: black 3px solid;
	border-top: black 3px solid;
	margin: 2rem auto;
	text-align: center;
	font-family: "Tenor Sans";
	color: rgb(3, 3, 66);
	text-transform: uppercase;
}

.div_center {
	margin-left: 5rem;
	margin-bottom: 2rem;
}

img {
	box-shadow: 4px 4px 2px rgb(53, 51, 51);
}

.border {
	border: black 3px solid;
	padding-right: 5rem;
	width: fit-content;
	box-shadow: 4px 4px 2px #353333;
}

.circle {
	height: 80px;
	width: 30px;
	border-radius: 50%;
	background-color: burlywood;
	border: black 3px solid;
	padding-right: 5rem;
	box-shadow: 4px 4px 2px #353333;
}

li {
	list-style-type: square;
}

footer {
	background-color: black;
	color: antiquewhite;
	font-family: "Iceland";
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}